<div>
  <div>
    <h1>
      List of all questions
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <form action="/insert_photo" method="post" class="form-horizontal" enctype="multipart/form-data" >
     
      <div>
        <label for="patient_age_box">
          Patient age
        </label>
      <input type="text" id="patient_age_box" name="query_patient_age">
      </div>

        <div>
        <label for="question_box">
          Question
        </label>

        <textarea id="question_box" name="query_question" rows="3"></textarea>
      </div>
      
      <div>
        <label for="medical_history_box">
          Medical history
        </label>

        <textarea id="medical_history_box" name="query_medical_history" rows="3"></textarea>
      </div>

      <div>
        <label for="epilepsy_type_id_box">
          Epilepsy type
        </label>

        <input type="text" id="epilepsy_type_id_box" name="query_epilepsy_type_id">
      </div>

      <%#button>
        Create question
      </button#%>


    <%# form action="/insert_photo" method="post" class="form-horizontal" enctype="multipart/form-data" #%>
      <div>
        <label for="image">
          Image
        </label>

        <input type="file" id="image" name="query_image" class="form-control">
      </div>

      <%#div>
        <label for="video_box">
          Video
        </label>

        <input type="file" id="video_box" name="query_video">
      </div #%>

      <%#div>
        <label for="question_id_box">
          Question Description
        </label >

        <input type="text" id="question_id_box" name="query_question_id">
      </div #%>

      <button>
        Upload
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
       <th>
          Image
        </th>

       <th>
        Patient Age
        </th>

        <th>
          Question
        </th>
      
        <th>
        Medical History 
        </th>
         
         <th>
          Epilepsy Type
         </th>
      </tr>

    </table>
  </div>
</div>

<hr>

<% @list_of_photos.each do |a_photo| %>
<tr>

<td>
<img src="<%= a_photo.image %>"
class="img-responsive" width="500" height="400">
</td>

<td>
<%= a_photo.id %>
</td>

<td>
<%#= a_photo.associated_question.patient_age%>
</td>

<td>
Posted Time <%= time_ago_in_words(a_photo.created_at) %> ago
</td>

<td>
<a href="/photos/<%= a_photo.id %>">
Show details
</a>
</td>

</tr>
<% end %>
