<center>
<h3>Edit profile</h3>
<div style="width: 400px;">
<br>

  <form action="/modify_user" method="post">
  <div class="form-floating mb-3">
    <input name="query_email" type="email" class="form-control" id="floatingInput" value="<%= @current_user.email %>">
    <label for="floatingInput">Email address</label>
  </div> 

  <div class="form-floating mb-3">
    <input name="query_role" type="text" class="form-control" id="floatingInput" value="<%= @current_user.role %>">
    <label for="floatingInput">Role</label>
  </div>
                                    
  <div>
    <input type="hidden" id="questions_count_box" name="query_questions_count" value="<%= @current_user.questions_count %>">  
  </div>

  <div class="form-floating mb-3">
    <input name="query_password" type="password" class="form-control" id="floatingPassword" placeholder="Choose a new password">
    <label for="floatingPassword">Password</label>
  </div>

  <div class="form-floating mb-3">
    <input name="query_password_confirmation" type="password" class="form-control" id="floatingPassword" placeholder="Confirm your new password">
    <label for="floatingPassword">Confirm password</label>
  </div>
  <br>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-success">Update profile</button>
  </div>
  </form>
</div>
