<center>
<br><br>
<h3>Sign up</h3>
<div style="width: 400px;">
<br>

<form action="/insert_user" method="post">
<div class="form-floating mb-3">
  <input name="query_email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating mb-3">
  <input name="query_role" type="text" class="form-control" id="floatingInput" placeholder="Role">
  <label for="floatingInput">Role</label>
</div>
<div class="form-floating mb-3">
  <input name="query_password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
<div class="form-floating mb-3">
  <input name="query_password_confirmation" type="password" class="form-control" id="floatingPassword" placeholder="Confirm password">
  <label for="floatingPassword">Confirm password</label>
</div>
<div>
  <input type="hidden" id="questions_count_box" name="query_questions_count">  
</div>
<br>
<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-success">Sign up</button>
</div>
</form>
</div>
</center>
